.linear-gradient1 {
    -fx-background-color: linear-gradient(to bottom left, #191970, #4169E1);
}

.button1
{
-fx-background-color : #FFF;
-fx-border-color: #355ECE;
-fx-text-fill:  #0C3988;
}
.button1:hover
{
-fx-background-color : #355ECE ;
-fx-text-fill:  #FFF;
}
.button1:pressed
{
-fx-background-color : #0C39FF ;
-fx-text-fill: #FFF;
}

.button1:focused
{
-fx-background-color : #355ECE ;
-fx-text-fill:  #FFF;
}

.button2
{
-fx-background-color :  #0C39FF;
-fx-border-color: #FFF;
-fx-text-fill:  #FFF;
}
.button2:hover
{
-fx-background-color : #0C3988 ;
-fx-text-fill:   #FFF;
}
.button2:pressed
{
-fx-background-color : #0C3400 ;
-fx-text-fill: #FFF;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0, 0 0 1 0 ;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0, 0 0 1 0 ;
}
